.b_header{
    width: 1130px;
    height: 98px;
    margin: 0 auto;
}
.logo{
    width: 200px;
    height: 98px;
    background: url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png) no-repeat;
}
