.bg{
    background: #f5f5f5;
}
.b_content{
    width: 1226px;
    height: 68px;
    padding-top: 102px;
    margin: 0 auto;
    background: #f5f5f5 url(//cdn.cnbj1.fds.api.mi-img.com/mi-mall/3cba013….jpg) 50% 0 no-repeat;
}
.b_content>ul{
    width: 100%;
    height: 68px;
    background: #414141;
}
.b_content>ul li{
    width: 245.19px;
    height: 68px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.b_content>ul li:hover{
    cursor: pointer;
}
.b_content>ul li>span{
    display: inline-block;
    width: 120px;
    height: 40px;
    margin-top: 10px;
}
.bgcol{
    background: #f1393a;
}

.b_shang{
    width: 1240px;
    margin: 0 auto;
}
.b_shang ul{
    width: 100%;
    padding-top: 25px;
}
.b_shop{
    width: 400px;
    height: 190px;
    float: left;
    background: #fff;
    margin: 0 6px 13px 7px;
    transition: all 0.3s linear;
}
.b_shop:hover{
    transform: translate(0,-2px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    cursor: pointer;
}
.li_left{
    float: left;
    width: 190px;
    height: 190px;
}
.li_left img{
    width: 100%;
    height: 100%;
}
.li_right{
    float: left;
    width: 180px;
    height: 164px;
    padding-left: 20px;
    padding-top: 15px;
    box-sizing: border-box;
}
.li_name{
    height: 16px;
    font-size: 16px;
    color: #333;
}
.li_desc{
    color: rgba(0,0,0,0.54);
    font-size: 12px;
    height: 32px;
    margin-top: 7px;
}
.li_price{
    font-size: 16px;
    color: #f1393a;
    height: 16px;
    margin-top: 14px;
}
.li_price i{
    font-size: 12px;
    color: rgba(0,0,0,0.54);
    margin-left: 10px;
    text-decoration: line-through;
}
.li_btn{
    width: 120px;
    height: 30px;
    background: #f1393a;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-top: 19px;
}