/* 网页尾部 */

#footer {
    height: 272px;
    background-color: #fff;
}

.footer_inner {
    height: 272px;
    background-color: #fff;
}


/* 服务 */

.footer_service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

.footer_service ul li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.footer_service ul li:first-child {
    border-left: none;
}

.footer_service ul li a {
    color: #616161;
    transition: color .2s;
}

.footer_service ul li a:hover {
    color: #ff6700;
}

.footer_service ul li a .iconfont {
    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px;
}


/* 帮助及友情链接 */

.footer_links {
    padding: 40px 0;
}

.links_item {
    float: left;
    width: 160px;
    height: 112px;
}

.links_item dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

.links_item dd {
    margin: 10px 0 0;
    font-size: 12px;
}

.links_item dd a {
    color: #757575;
}

.links_item dd a:hover {
    color: #ff6700;
}

.links_service {
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

.tel {
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

.time {
    margin: 0 0 16px;
    font-size: 12px;
}

.connect_service {
    border: 1px solid #ff6700;
    background: #fff;
    color: #ff6700;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    display: inline-block;
    transition: all .4s;
}

.connect_service:hover {
    color: #fff;
    background-color: #ff6700;
}


/* 版权 */

#copyright {
    height: 170px;
    width: 100%;
    background: #fafafa;
    position: relative;
    padding: 30px 0;
}

#copyright .cp-logo {
    width: 49px;
    height: 48px;
    position: absolute;
    top: 30px;
}

#copyright .info-text {
    color: #b0b0b0;
    padding-left: 65px;
}

#copyright .cp-nav {
    line-height: 20px;
}

#copyright .cp-nav a {
    color: #757575;
    margin-right: 4px;
    text-decoration: none;
    font-size: 12px;
}

#copyright .cp-nav a:hover {
    color: #ff6b00;
}

#copyright .beian {
    font-size: 12px;
}

#copyright .beian a {
    font-size: 12px;
    color: #b0b0b0;
    text-decoration: none;
}

#q h_copyright .beian a:hover {
    color: #ff6b00;
}

#copyright img {
    margin-top: 3px;
}

.xm_fsy {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    color: #757575;
}